/* global */
@bg-color: #fff;
@btn-bg: #936fd9;
@btn-color: #fff;


// global mixin
.fs(@size) {
    font-size: unit(@size, px);
    font-size: unit(@size / 10, rem);
}

.animation(@prop) {
    -webkit-animation: @prop;
    animation: @prop;
}

.transition(@prop) {
    -webkit-transition: @prop;
    transition: @prop;
}

.transform(@prop) {
    -webkit-transform: @prop;
    transform: @prop;
}

.translate3d(@xx, @yy, @zz) {
    .transform(translate3d(@xx, @yy, @zz));
}

//style begins
html {
    font-size: 62.5%;
    width: 100%;
    height: 100%;
}

body {
    font-family: "Microsoft Yahei";
    width: 100%;
    height: 100%;
    max-width: 640px;
    margin: 0 auto;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    background: @bg-color;
    position: relative;
    -webkit-tap-highlight-color: transparent;
}

a{
    font-family: "Microsoft Yahei";
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


.mask {
    background: #b8d8e7;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9999;

    .transition(opacity 0.5s ease);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    @media (orientation: landscape) {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    .mask-inner{
        width: 600px;
        height: 600px;
        position: absolute;
        top: 40%;
        left: 50%;
        color: #414042;
        margin: -200px 0 0 -300px;
        text-align: center;
        @media (max-height: 380px){
            height: auto;
            top: 10px;
            margin: 10px 0 0 -300px;
        }
    }
    h1{
        .fs(30);
        @media (max-height: 380px){
            .fs(18);
        }
    }
    .code{
        box-sizing:border-box;
        width: 310px;
        height: 310px;
        border-radius: 14px;
        padding: 5px;
        background-color: #fff;
        margin: 20px auto 30px auto;

        @media (max-height: 380px){
            width:120px;
            height: 120px;
            margin: 10px auto 15px auto;
        }
    }
    img{
            width: 300px;
            height: 300px;
            @media (max-height: 380px){
            width:110px;
            height: 110px;
        }
    }
    span{
        .fs(14);
		display:inline-block;
        width: 250px;
		height:30px;
		line-height:30px;
        padding: 8px 20px;
        background:#fff;
		border-radius:50px;   
        @media (max-height: 380px){
            .fs(12);
        }
    }
    p{
        .fs(16);
        color: #414042;
        margin-top: 30px;
        @media (max-height: 380px){
            margin-top:15px;    
            .fs(14);
        }
    }
}
